{% extends "base.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    <div style=" color: #5E5694">
        <center>
            <form action="songPred" method="post" style="">
                <label style="font-size: large; color: #6DDCBD">Upload the song!</label>
                <br><br>
                <input type="file" id="mySong" name="filename" class="btn btn-info">
                <br>
                <input type="submit" class="btn btn-success">
            </form>
        </center>
    </div>
{% endblock %}
