{% extends "base.html" %}

{% block title %}
    Uploads
{% endblock %}

{% block body %}

    <style>
        .shad {
            box-shadow: 5px 5px 20px;
        }
    </style>


    <center>
    {% for i in songList %}
        <div class="card shad" style="width: 50%">

            <label style="color: whitesmoke; font-size: larger">File : {{ i.fileName }}</label>
            <br>
            <label style="color: whitesmoke; font-size: larger">Predicted Raga : {{ i.predictedRaga }}</label>
            <br>
            <label style="color: whitesmoke; font-size: larger">Confidence Score : {{ i.confidenceScore }}</label>
            <br>
            <audio controls>
                <source src={{ i.songLink }} type="audio/mp3">
            </audio>

        </div>
        <br>
    {% endfor %}
    </center>
    
{% endblock %}
